<%- include("partials/header.ejs") %>

<div class="hold">
    <div class="container py-5">
        <h1 class="text-center mb-4 text-primary-mine">CAREERS</h1>
        <div class="text-center mb-4">
          <h3 class="fw-bold">3 Jobs</h3>
          <div class="input-group w-100 mx-auto">
            <input
              type="text"
              class="form-control"
              placeholder="Search jobs..."
            />
          </div>
        </div>
        <div class="row g-4">
          <!-- Job 1 -->
          <div class="col-md-4">
            <div class="p-4 job-card">
              <p class="job-openings">2 open positions</p>
              <h5 class="job-title">Head of Performance Support</h5>
              <p>
                Focused on the delivery of performance support within ClubName FC.
                The role will oversee this newly created and merged department to
                enable collective and integrated delivery to players.
              </p>
              <button class="btn btn-primary btn-block w-100">More Details</button>
            </div>
          </div>
          <!-- Job 2 -->
          <div class="col-md-4">
            <div class="p-4 job-card">
              <p class="job-openings">3 open positions</p>
              <h5 class="job-title">Football Projects Officer</h5>
              <p>
                Responsible for support and lead on the various football projects
                activities to further develop and grow the business and to deliver
                high-quality sports provision.
              </p>
              <button class="btn btn-primary btn-block w-100">More Details</button>
            </div>
          </div>
          <!-- Job 3 -->
          <div class="col-md-4">
            <div class="p-4 job-card">
              <p class="job-openings">1 open position</p>
              <h5 class="job-title">Sponsorship Administrator</h5>
              <p>
                Responsible for coordinating travel logistics for sales teams and
                VIP clients, managing matchday invite lists, organizing client
                dinners, and handling internal bookings and expenses.
              </p>
              <button class="btn btn-primary btn-block w-100">More Details</button>
            </div>
          </div>
        </div>
      </div>
</div>

<%- include("partials/footer.ejs") %>