<%- include("partials/header.ejs") %>

<div class="hold">
    <div>
        <ul class="nav nav-tabs justify-content-center mb-4 custom-nav">
            <li class="nav-item">
              <a class="nav-link active fix-nav" href="#">Fixtures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fix-nav" href="#">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fix-nav" href="#">Tables</a>
            </li>
        </ul>
    </div>
    <div class="container pb-4">        
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-primary-mine">January</h3>
        </div>
        <p class="text-muted">Dates/Times are shown in Kenyan time and are subject to change</p>
        <div class="match-card">
            <div class="row align-items-center text-center">
              <div class="col-4">
                <h5 class="mb-0">Chelsea</h5>
                <img src="/images/logo-1.png" alt="Chelsea Logo" class="team-logo">
              </div>
              <div class="col-4">
                <p class="mb-0">Tue 14 Jan 2025</p>
                <p class="text-muted mb-0">Premier League</p>
                <h4 class="fw-bold">19:30</h4>
                <p class="text-muted small">TNT Sports</p>
              </div>
              <div class="col-4">
                <h5 class="mb-0">Bournemouth</h5>
                <img src="/images/logo-2.png" alt="Bournemouth Logo" class="team-logo">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <a href="#" class="btn btn-primary w-100">Tickets </a>
              </div>
            </div>
          </div>      
      </div>    
</div>

<%- include("partials/footer.ejs") %>