<%- include("partials/header.ejs") %>

<div class="hold pb-4">
    <div>
      <ul class="nav nav-tabs justify-content-center mb-4 custom-nav">
          <li class="nav-item">
            <a class="nav-link fix-nav active" href="#fixtures" data-target="fixtures">Fixtures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fix-nav" href="#results" data-target="results">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fix-nav" href="#tables" data-target="tables">Tables</a>
          </li>
      </ul>
    </div>

    <div id="fixtures" class="container tab-content pb-4 fix-section live">        
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-primary-mine">March</h3>
        </div>
        <p class="text-muted">Dates/Times are shown in Kenyan time and are subject to change</p>
        <div class="match-card">
            <div class="row align-items-center text-center">
              <div class="col-4">
                <img src="https://github.com/JemoGithirwa4/Dimba-Itambe-player-images/blob/main/logo/Gor_Mahia_FC_(logo).png?raw=true" alt="Chelsea Logo" class="team-logo">
                <h5 class="mb-0">Gormahia</h5>
              </div>
              <div class="col-4">
                <p class="mb-0">Sun 2 Mar 2025</p>
                <p class="text-muted mb-0">Premier League</p>
                <h4 class="fw-bold">16:30</h4>
                <p class="text-muted small">TNT Sports</p>
              </div>
              <div class="col-4">
                <img src="https://github.com/JemoGithirwa4/Dimba-Itambe-player-images/blob/main/logo/AFC_Leopards.png?raw=true" alt="Bournemouth Logo" class="team-logo">
                <h5 class="mb-0">AFC Leopards</h5>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <a href="#" class="btn btn-primary w-100">Tickets </a>
              </div>
            </div>
          </div>      
      </div>    

      <div id="results" class="tab-content container fix-section">
        <div class="res-holder">
          <div class="match-info">
            <div class="row align-items-center">
              <div class="col-4 text-center">
                <img src="https://github.com/JemoGithirwa4/Dimba-Itambe-player-images/blob/main/logo/Gor_Mahia_FC_(logo).png?raw=true" alt="Chelsea Logo" class="team-logo">
                <h5 class="mt-2">Gormahia</h5>
              </div>
              <div class="col-4 text-center">
                <h4 class="mb-0">Sat 08 Feb 2025</h4>
                <p class="mb-0">kenya Premier League</p>
                <div class="score-box">0 - 0</div>
              </div>
              <div class="col-4 text-center">
                <img src="https://github.com/JemoGithirwa4/Dimba-Itambe-player-images/blob/main/logo/Tusker_FC_logo-removebg-preview.png?raw=true" alt="Bournemouth Logo" class="team-logo">
                <h5 class="mt-2">Tusker</h5>
              </div>
            </div>
          </div>
        
          <!-- Video Section -->
          <div class="video-thumbnail">
            <div class="video-container-2">
              <iframe src="https://www.youtube.com/embed/-_DzXt9jSRU?si=R9TLpLWgzdNcqikm" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="video-caption">Highlights: Gormahia 0-0 Tusker</p>
          </div>
        </div>
        <div class="res-holder">
          <div class="match-info">
            <div class="row align-items-center">
              <div class="col-4 text-center">
                <img src="/images/logo-1.png" alt="Chelsea Logo" class="team-logo">
                <h5 class="mt-2">Chelsea</h5>
              </div>
              <div class="col-4 text-center">
                <h4 class="mb-0">Tue 14 Jan 2025</h4>
                <p class="mb-0">Premier League</p>
                <div class="score-box">2 - 2</div>
              </div>
              <div class="col-4 text-center">
                <img src="/images/logo-2.png" alt="Bournemouth Logo" class="team-logo">
                <h5 class="mt-2">Bournemouth</h5>
              </div>
            </div>
          </div>
        
          <!-- Video Section -->
          <div class="video-thumbnail">
            <img src="/images/article-demo.jpg" alt="Match Highlight">
            <p class="video-caption">Highlights: Chelsea 2-2 Bournemouth</p>
          </div>
        </div>
      </div>

      <div id="tables" class="tab-content fix-section">
        <div class="container my-5">
          <h3 class="text-primary-mine">Kenyan Premier League Standings</h3>
          <div class="table-container">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">Pos</th>
                  <th scope="col">Club</th>
                  <th scope="col">MP</th>
                  <th scope="col">W</th>
                  <th scope="col">D</th>
                  <th scope="col">L</th>
                  <th scope="col">GF</th>
                  <th scope="col">GA</th>
                  <th scope="col">GD</th>
                  <th scope="col">Pts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="position-number">1</td>
                  <td>
                    <img src="/images/logo-1.png" alt="Liverpool" class="club-logo"> Liverpool
                  </td>
                  <td>20</td>
                  <td>14</td>
                  <td>5</td>
                  <td>1</td>
                  <td>48</td>
                  <td>20</td>
                  <td>28</td>
                  <td>47</td>
                </tr>
                <tr>
                  <td class="position-number">2</td>
                  <td>
                    <img src="/images/logo-2.png" alt="Nottingham Forest" class="club-logo"> Nott'm Forest
                  </td>
                  <td>21</td>
                  <td>12</td>
                  <td>5</td>
                  <td>4</td>
                  <td>30</td>
                  <td>20</td>
                  <td>10</td>
                  <td>41</td>
                </tr>
                <tr>
                  <td class="position-number">3</td>
                  <td>
                    <img src="/images/logo-2.png" alt="Arsenal" class="club-logo"> Arsenal
                  </td>
                  <td>20</td>
                  <td>11</td>
                  <td>7</td>
                  <td>2</td>
                  <td>39</td>
                  <td>18</td>
                  <td>21</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td class="position-number">4</td>
                  <td>
                    <img src="/images/logo-2.png" alt="Chelsea" class="club-logo"> Chelsea
                  </td>
                  <td>21</td>
                  <td>10</td>
                  <td>7</td>
                  <td>4</td>
                  <td>41</td>
                  <td>26</td>
                  <td>15</td>
                  <td>37</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>        
      </div>
</div>

<%- include("partials/footer.ejs") %>