<%- include("partials/header.ejs") %>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active carousel-item-mine">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Gormahia stunned by Mathare!</h1>
            <p>What a blow for Gormahia title hopes.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Read more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="my-5 pad">
    <ul class="nav nav-tabs justify-content-center mb-4" id="matchTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <h1 class="gw">Gameweek 1</h1>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="home-tab tab-content">
        <div class="tab-pane fade show active" id="mens" role="tabpanel">
            <div class="row g-4">
                <!-- Match Card 1 -->
                <div class="col-md-4">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <p class="text-uppercase text-muted">Mon 24 Feb 2025</p>
                            <p class="fw-bold">Kenya Premier League</p>
                            <div class="d-flex justify-content-around align-items-center mb-3">
                                <img src="/images/logo-1.png" alt="Ipswich" class="img-fluid" style="width: 50px;">
                                <h3 class="fw-bold">14:00</h3>
                                <img src="/images/logo-2.png" alt="Chelsea" class="img-fluid" style="width: 50px;">
                            </div>
                            <p class="mb-3">Kariobangi sharks vs Sofapaka</p>
                            <a href="/pay-ticket" class="btn btn-primary w-100 mb-2">Tickets</a>
                        </div>
                    </div>
                </div>
                <!-- Match Card 2 -->
                <div class="col-md-4">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <p class="text-uppercase text-muted">Mon 24 Feb 2025</p>
                            <p class="fw-bold">Kenya Premier League</p>
                            <div class="d-flex justify-content-around align-items-center mb-3">
                                <img src="/images/logo-1.png" alt="Crystal Palace" class="img-fluid" style="width: 50px;">
                                <h3 class="fw-bold">15:00</h3>
                                <img src="/images/logo-2.png" alt="Chelsea" class="img-fluid" style="width: 50px;">
                            </div>
                            <p class="mb-3">Bnadari FC vs Mathare United</p>
                            <a href="#" class="btn btn-primary w-100 mb-2">Tickets</a>
                        </div>
                    </div>
                </div>
                <!-- Match Card 3 -->
                <div class="col-md-4">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <p class="text-uppercase text-muted">Mon 24 Feb 2025</p>
                            <p class="fw-bold">Kenya Premier League</p>
                            <div class="d-flex justify-content-around align-items-center mb-3">
                                <img src="/images/logo-1.png" alt="Chelsea" class="img-fluid" style="width: 50px;">
                                <h3 class="fw-bold">15:00</h3>
                                <img src="/images/logo-2.png" alt="Morecambe" class="img-fluid" style="width: 50px;">
                            </div>
                            <p class="mb-3">Western Stima vs Nzoia sugar</p>
                            <a href="#" class="btn btn-primary w-100 mb-2">Tickets</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="card p-3">
                      <div class="card-body text-center">
                          <p class="text-uppercase text-muted">Tue 25 Feb 2025</p>
                          <p class="fw-bold">Kenya Premier League</p>
                          <div class="d-flex justify-content-around align-items-center mb-3">
                              <img src="/images/logo-1.png" alt="Chelsea" class="img-fluid" style="width: 50px;">
                              <h3 class="fw-bold">15:00</h3>
                              <img src="/images/logo-2.png" alt="Morecambe" class="img-fluid" style="width: 50px;">
                          </div>
                          <p class="mb-3">Chelsea vs Morecambe</p>
                          <a href="#" class="btn btn-primary w-100 mb-2">Tickets</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>



  <div class="featured pb-5">
    <ul class="nav nav-tabs justify-content-center mb-4 my-head" id="matchTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <h1 class="gw">Featured players</h1>
      </li>
    </ul>
    <div class="container d-flex justify-content-center align-items-center my-5">
      <div class="card featured-player-card">
        <div class="player-details">
          <!-- Stats Section -->
          <div class="stats text-center">
            <img src="/images/logo-2.png" alt="Team Logo">
            <div class="stat">
              <span class="value">282</span>
              <span>Appearances</span>
            </div>
            <div class="stat">
              <span class="value">175</span>
              <span>Goals</span>
            </div>
            <div class="stat">
              <span class="value">82</span>
              <span>Assists</span>
            </div>
            <div class="stat">
              <span class="value">1,014</span>
              <span>Shots</span>
            </div>
          </div>
          <!-- Player Image Section -->
          <div class="player-image">
            <img src="/images/nkunku.webp" alt="Player Image">
          </div>
        </div>
        <!-- Player Info Section -->
        <div class="player-info">
          <h3>Mohamed Salah</h3>
          <p>Forward</p>
          <div class="country">
            <img src="/images/flag.png" alt="Egypt Flag">
            <span>Egypt</span>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>