<%- include("partials/header.ejs") %>

<div class="hold pt-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="latest-title">Latest Match Highlights</h2>
    </div>

    <div class="row mt-4">
      <!-- Video 1 -->
      <div class="col-md-4 mb-4">
        <div class="card video-card d-flex flex-column h-100">
          <div class="video-container flex-grow-1">
            <iframe src="https://www.youtube.com/embed/nregGlyrato?si=Uoca8ZRp394JDtUx" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="video-title">REWIND | KCB 2-0 Muranga Seals | MD21 2024/25</h5>
            <p class="video-meta">VIDEO | 09 FEB 25</p>
          </div>
        </div>
      </div>

      <!-- Video 2 -->
      <div class="col-md-4 mb-4">
        <div class="card video-card d-flex flex-column h-100">
          <div class="video-container flex-grow-1">
            <iframe src="https://www.youtube.com/embed/-_DzXt9jSRU?si=R9TLpLWgzdNcqikm" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-body mt-auto">
            <h5 class="video-title">Leopards find a way in Awendo | Mara Sugar 1-2 AFC Leopards | MD21 2024/25</h5>
            <p class="video-meta">VIDEO | 10 FEB 25</p>
          </div>
        </div>
      </div>

      <!-- Video 3 -->
      <div class="col-md-4 mb-4">
        <div class="card video-card d-flex flex-column h-100">
          <div class="video-container flex-grow-1">
            <iframe src="https://www.youtube.com/embed/iOTVqQVCb7w?si=3ci6VDtL_Mf8_5qS" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-body mt-auto">
            <h5 class="video-title">Another Draw for Sharks | Kariobangi Sharks 2-2 Posta Rangers | MD21 2024/25</h5>
            <p class="video-meta">VIDEO | 08 JAN 25</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer.ejs") %>
